@font-face {
    font-family: "TT Norms - Black";
    src: url("../fonts/tt norms/TTNorms-Black.otf");
}
@font-face {
    font-family: "TT Norms - Bold";
    src: url("../fonts/tt norms/TTNorms-Bold.otf");
}

@font-face {
    font-family: "TT Norms - Extra Bold";
    src: url("../fonts/tt norms/TTNorms-ExtraBold.otf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/open sans/OpenSans-Regular.ttf");
}

body {
    position: relative;
    width:100%;
    overflow-x: hidden;
}

#header {
    background: url("/storage/img/bg1.png") no-repeat center top / cover;
}

.flex-container {
    height: 901px;
    opacity: 100;
}

#about, #advertiser {
    background-color: #cc0000;
}

.logo {
     margin-top: 79px;
}

.header-text {
    margin-top: 135px;
    font-family: "TT Norms - Black";
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 2.64px;
    height: 241px;
    color: #cc0000;
}

.sign-up {
    margin-top: 77px;
    padding-bottom: 130px;
}

.sign-up-text {
    font-family: "TT Norms - Black";
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 2.64px;
    /*height: 241px;*/
    color: #cc0000;
}

.form {
    font-family: "TT Norms - Bold";
    text-transform: uppercase;
}

.form input {
    margin-bottom: 20px;
    height: auto!important;
}

.term {
    color: #cc0000;
}

.check {
    color: #cc0000;
}

.sign-up-btn {
    width: 203px;
    height: 51px;
    background-color: #cc0000 !important;
}

.sign-up-link {
    width: 97px;
    height: 18px;
    color: #ffffff;
    font-family: "TT Norms - Black";
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
}

.login-up-btn {
    width: 203px;
    height: 51px;
    background-color: #333333!important;
}

ul  {
    width: 753px;
    height: 13px;
}

ul li a {
    color: #333333;
    font-family: "TT Norms - Bold";
    font-size: 15px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

ul li a:hover {
    text-decoration: none;
    color: #f0f000;
}

.active {
    color: #f0f000;
    text-decoration: none;
}

.bg-text {
    opacity: 0.03;
    color: #000;
    font-family: "TT Norms - Black";
    font-size: 345px;
    font-weight: 400;
    line-height: 300px;
    text-transform: uppercase;
    letter-spacing: -9.75px;
    display: block;
    position: absolute;
    z-index: 0;
}

.bg-publisher {
    color: #000;
    font-family: "TT Norms - Black";
    font-size: 390px;
    line-height: 180px;
}

.bg-sec {
    letter-spacing: -5.75px;
    font-size: 195px;
    margin-top: 40px;
}

.contacts {
    color: #000;
    font-family: "TT Norms - Extra Bold";
    font-size: 225px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -7px;
}

.col {
    display: block;
    z-index: 999;
    position: relative;
    height: inherit;
}

.col .text{
    width: 489px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.col .text-b {
    color: #333333;
}

.contact-form {
    width: 489px;
}

.form-control {
    border-radius: 0!important;
    border: 2px solid black!important;
    background: transparent!important;
}

#admin-text {
    border: 1px solid #ced4da!important;
}
#message {
    height: 120px;
}

::placeholder {
    color: #333333!important;
    text-decoration: none!important;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}